# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
*.egg-info/
.eggs/

# Lambda build artifacts
analytics/build/
analytics/*.zip
# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.zip
